.main-container {
  max-width: 1160px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media(max-width: 1200px) {
    max-width: 940px;
  }
}

.container {
  display: grid;
  grid-template-columns: 66% 33%;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;

  &__left,
  &__right {
    box-shadow: 0 0 15px -8px;
    border-radius: 3px;
    padding: 15px
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Open Sans', Arial, sans-serif;  
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn {
  background: #F3DA0B;      
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  transition: 0.2s;

  &:hover,
  &:active,
  &:focus {
    background: white;
  }  
}
